@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  /* 1440-195-197=1048; */
  width: 1048px;
  margin-right: auto;
  margin-left: auto;
}
header {
  padding: 24px 0;
  box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.brend-name {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #252b42;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style-type: none;
  padding-left: 21px;
}
.nav-link {
  margin-left: 28px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  transition: 0.5s;
  letter-spacing: 0.2px;
  color: var(--second-text-color, #737373);
  text-align: center;
}
.nav-link:hover {
  opacity: 1;
  color: #000;
}
#navbar-open {
  display: none;
  padding-top: 5px;
  border: none;
  background-color: #fff;
}

#navbar-open svg {
  transition: 0.4s;
  cursor: pointer;
}

#navbar-open svg:hover {
  fill: #23f5e0;
}

/* ---------- */

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
}

#navbar-open {
  display: none;
  background: transparent;
  border: none;
}

#navbar-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
}

.res-ul {
  text-align: center;
  list-style-type: none;
}

.res-nav-li {
  margin-bottom: 20px;
}

.res-nav-li a {
  font-weight: 400;
  text-decoration: none;
  color: #737373;
  padding-bottom: 4px;
  font-size: 25px;
  transition: 0.5s;
}

.res-nav-li a:hover {
  color: #23f5e0;
  border-bottom-color: #ff9100;
  border-radius: 5px;
}

.res-nav-logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 35px;
  left: 20px;
}

#navbar-close svg {
  transition: 0.4s;
}

#navbar-close svg:hover {
  fill: #23f5e0;
}
main {
  margin-top: 80px;
}
#home {
  max-width: 100%;
  height: 710px;
  background-image: url(assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-container {
  height: 710px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-home {
  width: 50%;
  height: 338px;
}
.nothing-sec {
  width: 50%;
  height: 338px;
}
.info-home h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding-bottom: 15px;
  color: var(--text-color, #252b42);
}
.info-home p {
  padding-bottom: 35px;
  max-width: 376px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--second-text-color, #737373);
}
.info-btn-1 {
  padding: 10px 36px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: none;
  border: 1.5px solid var(--secondary-color-1, #23f5e0);
  cursor: pointer;
  background: transparent;
  transition: 0.4s;
}
.info-btn-1:hover {
  background: var(--primary-color, #ffa62b);
  border: 1.5px solid var(--secondary-color-1, #ffa62b);
}
.info-btn-1 a {
  text-decoration: none;
  color: var(--secondary-color-1, #23f5e0);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.info-btn-1:hover a {
  color: #fff;
}
.info-btn-2 {
  padding: 10px 36px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1.5px solid var(--secondary-color-1, #23f5e0);
  cursor: pointer;
  background: transparent;
  transition: 0.4s;
}
.info-btn-2:hover {
  background: var(--primary-color, #ffa62b);
  border: 1.5px solid var(--secondary-color-1, #ffa62b);
}
.info-btn-2 a {
  text-decoration: none;
  color: var(--secondary-color-1, #23f5e0);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  /* background-color: #FFA62B; */
}
.info-btn-2:hover a {
  color: #fff;
}

.btn-container {
  display: flex;
}
#navbar-open {
  display: none;
  padding-top: 5px;
  border: none;
  background-color: #fff;
}

#navbar-open svg {
  transition: 0.4s;
  cursor: pointer;
}

#navbar-open svg:hover {
  fill: #23f5e0;
}

/* ---------- */

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
}

#navbar-open {
  display: none;
  background: transparent;
  border: none;
}

#navbar-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
}

.res-ul {
  text-align: center;
  list-style-type: none;
}

.res-nav-li {
  margin-bottom: 20px;
}

.res-nav-li a {
  font-weight: 400;
  text-decoration: none;
  color: #737373;
  padding-bottom: 4px;
  font-size: 25px;
  transition: 0.5s;
}

.res-nav-li a:hover {
  color: #23f5e0;
  border-bottom-color: #ff9100;
  border-radius: 5px;
}

.res-nav-logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 35px;
  left: 20px;
}

#navbar-close svg {
  transition: 0.4s;
}

#navbar-close svg:hover {
  fill: #23f5e0;
}
.about-row {
  margin-top: -105px;
  display: flex;
  justify-content: space-between;
  height: 210px;
}

.about-row {
  position: absolute;
}

.card-2 {
  margin-left: 32px;
  margin-right: 32px;
}

.about-row div {
  padding-top: 35px;
  padding-left: 40px;
  width: 328px;
  height: 210px;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.about-card:hover {
  background-color: #23f5e0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-card svg {
  margin-bottom: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.about-card:hover svg path {
  fill: #fff;
}

.about-card h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.about-card:hover h3 {
  color: #fff;
}

.about-card p {
  max-width: 218px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.about-card:hover p {
  color: #fff;
}

.advise-main {
  margin-top: -1px;
  padding-bottom: 101px;
  background-color: #fafafa;
}

.about-header {
  padding-top: 297px;
  text-align: center;
}

.about-header h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.about-header p {
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 511px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.about-statistic-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statistic-card {
  width: 230px;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.statistic-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.statistic-card svg {
  width: 48px;
  height: 44.211px;
}

.statistic-card h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.statistic-card p {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* ------------ */

.advise-sec {
  max-width: 100%;
  background: #fafafa;
}

.advice-row {
  width: 100%;
  height: 710px;
}

.advise-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding-bottom: 30px;
}

.advise-header h2 {
  color: var(--text-color, #252b42);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.advise-header p {
  max-width: 470px;
  text-align: center;
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding-top: 8px;
}

.advise-row {
  width: 100%;
  height: 355px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advise-card {
  width: 230px;
  height: 321px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: 0.4s;
}

.advise-card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.advise-card-paragraph {
  width: 231px;
  height: 183px;
}
.advise-card-img {
  width: 230px;
  height: 138px;
}
.advise-card-paragraph {
  padding: 30px;
}
.advise-card-paragraph h5 {
  width: 130px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--text-color, #252b42);
  padding-bottom: 15px;
}
.advise-card-paragraph p {
  width: 177px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--second-text-color, #737373);
}
.business-main {
  background-color: #fff;
}

.business-container {
  max-width: 100%;
  height: 854px;
  /* background-color: green; */
  padding-top: 100px;
}
.business-header {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  /* background-color: red; */
}
.business-header h2 {
  color: var(--text-color, #252b42);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.business-header p {
  width: 511px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--second-text-color, #737373);
}
.business-video-container {
  width: 100%;
  height: 442px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.business-video {
  width: 50%;
  height: 442px;
  background: url(../images/room.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(rgba(0, 160, 193, 1), #e0a117);
  border-radius: 50%;
  padding-left: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.business-info {
  width: 50%;
  height: 442px;
}
.business-info-text {
  width: 100%;
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.business-info-text h2 {
  color: var(--text-color, #252b42);
  width: 333px;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.business-info-text p {
  width: 330px;
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.business-info-text-2 {
  width: 100%;
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.business-info-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.business-info-img svg {
  margin-right: 20px;
}

.business-info-paragraph h5 {
  width: 300px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--text-color, #252b42);
}
.business-info-paragraph p {
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.partners-main {
  padding-bottom: 85px;
}

.partners-icons {
  display: flex;
  justify-content: space-around;
}

.partners-main {
  background-color: #fafafa;
}

.partners-icons {
  padding-top: 50px;
  padding-bottom: 50px;
}

.partners-icons svg path {
  transition: 0.3s;
}

.partners-icons svg:hover path {
  fill: #23f5e0;
}

.subscribe {
  max-width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background: var(--secondary-color-2, #16697a);
}

.subscribe-info h3 {
  max-width: 258px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #fff;
}

.subscribe-emal input {
  padding-left: 15px;
  width: calc(450px - 117px);
  height: 58px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
}

.subscribe-emal input:focus {
  outline: none;
}

.subscribe-emal button {
  margin-left: -10px;
  width: 117px;
  height: 58px;
  padding: 15px 22.5px;
  flex-shrink: 0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  background: var(--primary-color, #ffa62b);
}
.main-section-contact {
  background: #f3f3f3;
}

.contact {
  width: 100%;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 107px;
  margin-bottom: 80px;
}

.contact-name h1 {
  text-transform: uppercase;
  color: var(--text-color, #252b42);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.contact-name p {
  max-width: 470px;
  color: var(--second-text-color, #737373);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.contact-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 333px;
}

.contact-page .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 328px;
  height: 333px;
  transition: 0.5s;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contact-page .pages:hover {
  background: var(--dark-background-color, #252b42);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact-page .pages:hover p {
  color: #fff;
}

.contact-page .pages:hover h5 {
  color: #fff;
}

.contact-page .pages:hover svg path {
  fill: #fff;
}

.contact-page .pages:hover .support-btn {
  color: #fff;
}

.pages svg {
  padding-bottom: 15px;
}

.pages p {
  color: var(--text-color, #252b42);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.pages h5 {
  color: var(--text-color, #252b42);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 15px 0px;
}

.pages .support-btn {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color, #ffa62b);
  cursor: pointer;
  background: transparent;
}

.pages .support-btn a {
  color: var(--primary-color, #ffa62b);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  background: transparent;
}

.contact-page .pages:hover .support-btn {
  border: 1px solid #fff;
}

.contact-page .pages:hover .support-link {
  color: #fff;
}
.main-section {
  width: 100%;
  background: #fafafa;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 751px;
  padding-top: 63px;
}

.contact-buttons input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  margin-bottom: 20px;
}

.contact-buttons input:focus {
  outline: none;
}

.contact-buttons textarea {
  width: 100%;
  height: 156px;
  resize: none;
  padding: 12px 20px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  margin-bottom: 20px;
}

.contact-buttons textarea:focus {
  outline: none;
}

.contact-buttons select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  margin-bottom: 100px;
}

.contact-buttons select:focus {
  outline: none;
}

.contact-btn {
  display: inline-flex;
  padding: 15px 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border: 2px solid #00a0c1;
  border-radius: 5px;
  background: transparent;
  transition: 0.5s;
}

.contact-btn .contact-link {
  color: #00a0c1;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.contact-btn:hover {
  background: var(--primary-color, #ffa62b);
  border: 2px solid #ffa62b;
}

.contact-btn:hover .contact-link {
  color: var(--light-text-color, #fff);
}
#footer-contacts {
  background-color: #8ec2f2;
  max-width: 100%;
}
.main-footer-1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer-1 p {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.footer-pages {
  display: flex;
  flex-direction: column;
}

.footer-pages h3 {
  margin-bottom: 28px;
  color: #08546c;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.footer-pages a {
  margin-bottom: 10px;
  color: #787878;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}
@media (max-width: 600px) {
  .nav-list {
    display: none;
  }

  #navbar-open {
    display: block;
  }
}
